body {
    font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
    font-weight: normal;
    background: linear-gradient(#FF6B00, #8A663C);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.borda {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: linear-gradient(#1E1E1E, #000000);
    border: 1mm;
    border-radius: 20px;
    margin: auto;
    width: 85%;
    height: 85%;
    padding: 10px;
    overflow: hidden;
}

.barra-lateral {
    position: relative;
    margin-left: -10px;
    width: 300px;
    height: 700px;
    background-color: #1E1E1E;
    color: #D9D9D9;
    text-align: left;
    margin-top: -10px;
    font-size: 20px;
}
.logout{
    padding-top: 30px;
    padding-left: 30px;
}
.evals {
    padding-left: 30px;
    padding-top: 200px;
}

.ranking {
    padding-left: 30px;
    padding-top: 20px;
}
.comunity {
    padding-left: 30px;
    padding-top: 20px;
}
.settings {
    padding-left: 30px;
    padding-top: 200px;
}

.img {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    padding-bottom: -20px;
    color: #D9D9D9;
}

.button {
    padding-left: 30px;
    user-select: none;
    margin-left: -30px;
    border-radius: 20px;
    border: 1mm;
}

.button:active {
    background-color: white;
    transition: .5s;
}

.button:hover {
    cursor: pointer;
}

.centro {
    overflow-x:hidden;
    position: relative;
    text-align: center;
    width: 65%;
    height: 85%;
    color: white;
    margin-top: -650px;
    margin-left: 325px;
    padding: 10px;
    overflow-y: scroll;
}
.centro::-webkit-scrollbar{
    width: 5px;
}

.centro::-webkit-scrollbar-track{
    background:#5b5b5b;
    border-radius:20px;
}

.div{
    margin-top: 10px;
    width: 90%;
    height: 20%;
    margin-left: 40px;
    border: none;
    border-radius: 20px;
    background-color: #1E1E1E;
    text-align: left;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}
.imagem{
    position:relative;
    width: 120px;
    height: 200px;
    margin-left: 10px;
}
.stars {
    font-size: 20px;
    color: orange; 
}
.mediaEval{
    align-self: center;
    text-align: center;
}
.nota{
    font-size: 50px;
}
.infoFilme{
    position:relative;
}
label {
    font-size: 30px;
    display: block; 
    margin: 10px 0 5px; 
}
input[type="text"], input[type="password"] {
    width: 30%; 
    padding: 10px; 
    background-color: #1E1E1E;
    color: white;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 15px; 
    font-size: 16px; 
    text-align: center;
    font-size: 30px;
}
.buttons {
    width: 30%; 
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    background-color: #1E1E1E; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}
.buttons:active{
    background-color: white;
    transition: .5s;
}
.buttons:hover {
    cursor: pointer;
}
.vermelho{
    background-color: red;
    color: white;
    opacity: 0.5;
}